HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/workspace.xml
.idea/compiler.xml
.idea/*
.idea/
.idea/LibraryManagement-UserService.iml
.idea/git_toolbox_blame.xml
.idea/.gitignore
.idea/misc.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/vcs.xml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
